@import '../settings';
.header {
    nav {
        @include center;
        justify-content: space-between;
        padding: 30px 0 41px 0;
        width: 87%;
        margin: auto;
    }
}

ul {
    @include center;
    justify-content: space-between;
    gap: 60px;

    li {
        list-style: none;
        cursor: pointer;
        font-size: 2rem;
        font-family: $font2;
        font-weight: 500;
        margin-right: 0.5rem;
        margin-left: 0.5rem;

        a {
            text-decoration: none;
            color: black;
            &.active {
                text-decoration: underline;
            }
        }
    }
}
