@import '../../Settings.scss';

h1 {
    color: $color1;
    font-family: $font2;
    font-weight: 500;
    font-size: 36px;
}

.container {
    @include center;
    justify-content: space-between;
    @media screen and (max-width: 888px) {
        flex-direction: column;
        gap: 20px;
    }
}

.leftSideContainer p {
    font-family: $font2;
    font-size: 18px;
    margin-top: 10px;
}

.rightSideContainer {
    align-self: flex-start;
    @media screen and (max-width: 870px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
    }

    .hostContainer {
        @include center;
        p {
            font-weight: 500;
            font-size: 18px;
            font-family: $font2;
            color: $color1;
        }
        img {
            border-radius: 50%;
            margin-left: 20px;
            height: 80px;
        }
    }
}

.buttonContainer {
    padding: 20px 0;
    display: flex;
    @media screen and (max-width: 471px) {
        gap: 10px;
        flex-direction: column;
        align-items: flex-start;
    }
}

.buttonContainer button {
    font-family: $font2;
    color: $white;
    font-size: 14px;
    font-weight: 700;
    background-color: $color1;
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
    // display: flex;
    // flex-direction: row;
    margin-right: 10px;
}

.container_description {
    display: flex;
    justify-content: space-between;
    gap: 65px;
    @media screen and (max-width: 870px) {
        display: block;
    }
}
